input {
  border: none;
}
textarea {
  border-style: none;
  overflow: auto;
  outline: none;
}
input:focus {
  outline: none;
}
form {
  border: solid black 2px;
  margin: 20px auto;
  width: 50%;
  border-radius: 10px;
}
.centerbtn {
  margin: 0 25%;
}
